
extends ../../layout/default.pug
include ../../mixin/form.pug
include ../../mixin/alert.pug
block main
  title Nhóm quyền 
  +alert-success() 
  body
    //- Sidebar
    div(class="d-flex")
      include ../../partial/sidebar.pug
      div(class="container my-5" style="width: 85%;")
        h1(class="mb-4") Danh sách sản phẩm

        //- Form trạng thái
        +form-status

        //- Form tìm kiếm
        +form-search

        //- form-sort
        +form-sort

        //- form-change-all
        +form-change-all(`${prefixAdmin}/roles/create`)  

        table(class="table table-bordered table-hover")
          thead
            tr
              th(scope="col")
                input(type="checkbox" name="check-all")
              th(scope="col") STT
              th(scope="col")  Tiêu đề    
              th(scope="col")  Mô tả    
              th(scope="col") Hành động
          tbody
            each item, index in roles
              tr
                td
                  input(type="checkbox" name="id" value=item._id)
                td #{index + 1}
                td #{item.title}
                td !{item.description}
                td
                  a(href=`${prefixAdmin}/product/edit/${item.id}` class="btn btn-warning btn-sm me-2") Sửa
                  button(class="btn btn-danger btn-sm button-delete" data-id=item._id) Xóa
                  a(href=`${prefixAdmin}/product/detail/${item.id}` class="btn btn-info btn-sm me-2") Chi tiết

        //- nav(aria-label="Page navigation")
        //-   ul(class="pagination justify-content-center")
        //-     if objPage.currentPage > 1
        //-       li(class="page-item")
        //-         button(class="page-link" number-page=objPage.currentPage-1) Trước
        //-     - for (var i = 1; i <= objPage.totalPage; i++)
        //-       li(class=`page-item ${objPage.currentPage === i ? 'active' : ''}`)
        //-         button(class="page-link" number-page=i) #{i}
        //-     if objPage.currentPage < objPage.totalPage
        //-       li(class="page-item")
        //-         button(class="page-link" number-page=objPage.currentPage+1) Tiếp

        form(action="" method="POST" id="form-delete" data-path=`${prefixAdmin}/roles/delete`)

    script(src="/admin/js/product.js")
